* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background: #FFFFFF;
	/*background: url(img/bg.gif);*/
	color: #000000;
	font-family: gabriola, sans-serif;
}
video {
    video-align: center;
    max-width: 1000px;
    width: 100%;    
}

label{
    width: 550px;
}

a {
	text-decoration: none;
	color: #E64825;
}
 
.wrapp {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

header {
	width: 100%;
	height: 85px;
	padding: 20px 1;
	background: #fff;
	overflow: hidden;
	background: #F6F6FC;
}



.logo {
	width: 43px;
	float: left;
}

.logo img {
	width: 100%;
	vertical-align: top;
}

.slider{
	color: #FFF;
}

.slider p{
	text-align: center;
    font-size: 30px;
    padding-top: 10px;
    color: #FF0000;
}

nav {
	float: left;
    
}

nav ul li {
	display: inline-block;
	margin: 5px 5px;

}

nav ul li a {
	display: block;
	background: #21788b;
	color: #fff;
	padding: 10px 10px;
	text-decoration: none;
	border-radius: 6px;
	transition: all 300ms ease;
    <span border></span>
    <span border-top"></span>
    <span border-bottom></span>
    
}

nav ul li a:hover {
	color: #fff;
	background: #ed2e04;
}

.mensaje {
	background: #333;
	padding: 10px;
	color: #fff;
	margin: 10px 0px;
	border-radius: 5px;
    
}
.mensaje li {
	text-align: 5%;
	line-height: 1px;
	color: #fff;
    transform: translateX(109px);

}

.articulo {
	float: left;
	width: 70%;
	padding: 0px 30px 20px 20px;
    text-align: justify;
}

aside {
	float: left;
	width: 15%;
	background: #16456b;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}


.widget ul {
	margin-left: 20px;
}

.widget ul li {
	margin: 10px 0;
	width: 100%;
}

.widget ul li a {
	color: #fff;
}

.widget ul li a:hover {
	text-decoration: underline;
}

.redes{
height: 200px;
background-color:#84ACBF ;
padding: 30px;

}
.redes h1{
font-family:gabriola ;
text-align: center;
font-weight:bold ;

}
.sociales{
text-align: center;
padding-top: 40px ;
padding-bottom: 40px;
}
.sociales li{
display: inline-block;
}
.sociales a{
padding: 11px;

}

footer {
	width: 100%;
	background: #DCD1D1;
	padding: 20px 0;
	color: #fff;
}

footer p {
	text-align: center;
}


/* ---------- para el mapa de google -----------------*/
section.ubicacion {width:320px; float:center; margin-right:10px; }
section.ubicacion  iframe{background:#9E6D43; padding:7px; border-radius:10px; box-shadow: 5px 5px 4px #000000; width:650px; }
section.ubicacion  iframe:hover{background:#9E6D24; cursor: pointer;}


/* ---------- para el formulario de contacto -----------------*/
/* para estilizar el texto de referencia en el placeholder */
:-moz-placeholder {
    color: rgba(6, 20, 221, 0.589);
}
 
::-webkit-input-placeholder {
    color: rgba(21, 123, 207, 0.884);
}

/* Remover Estilo de :focus
Webkit automáticamente agrega algunos estilos a los campos de entrada cuando son enfocados. */
*:focus {
    outline: none;
}

/* Estilos Tipográficos
Agreguemos algunos estilos tipográficos a los elementos: */
body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.contact_form h2, .contact_form label {
    font-family:Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

/* Estilos de lista
Agregaremos estilos a los elementos de lista para crear un poco de estructura: */
.contact_form ul {
    width:650px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact_form li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}

/* También agregaremos un fino borde en la parte superior e inferior del formulario. */
.contact_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

/* Encabezado
Estilizaremos la sección de encabezado de nuestro formulario.*/
.contact_form h2 {
    margin:0;
    display: inline;
}

.required_notification {
    color:#1497e4; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}

/* Elementos de Entrada de Texto
Estilizaremos los elementos principales de nuestro formulario, los que serán usados para colectar la información del usuario.*/
.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}

.contact_form input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}

.contact_form textarea {
    padding:8px; width:300px;
}

.contact_form button {
    margin-left:156px;
}

/* Ahora, agregaremos algunos estilos visuales adicionales. 
Algunos de estos son estilos CSS3 que solo serán premios para los usuarios que usen buscadores modernos.*/
.contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}

button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

/* Agreguemos un poco de interactividad. Haremos que los campos que están 
seleccionados se expandan un poco a través de un poco de relleno (padding).*/
.contact_form input:focus, .contact_form textarea:focus { /* añade esto al estilo ya existente */
    padding-right:70px;
}

/* Ahora, para los buscadores que lo soportan, haremos que la expansión del campo tenga una transición fluida usando CSS3. */
.contact_form input, .contact_form textarea { /* añade esto al estilo ya existente */
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

/* Estilizar los Campos Marcados con required */
.contact_form input, .contact_form textarea {
    padding-right:30px;
}

input:required, textarea:required {
    background: #fff url(img/red_asterisk1.png) no-repeat 98% center;
}


/* Puede estilizar la burbuja un poco en webkit usando lo siguiente: */
::-webkit-validation-bubble-message {
    padding: 1em;
}


/* Primero, estilizamos los campos para que sean inválidos. Para este ejemplo solo 
queremos que los estilos inválidos se muestren cuando el campo sea enfocado. Usaremos 
un borde rojo, sombra roja, y un icono creado en Photoshop para indicar que el campo es invalido. */
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* cuando un campo es considerado válido por el navegador */
    background: #fff url(img/invalid1.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}


/* Ahora, vamos a crear una regla que indique que este campo es valido.  */
.contact_form input:required:valid, .contact_form textarea:required:valid { /* cuando un campo es considerado válido por el navegador */
    background: #fff url(img/valid1.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/* Ahora estilizaremos las instrucciones que le dicen al usuario como debe ingresar su información.*/
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* Los consejos permanecen por encima de todos los demás elementos. */
    position: absolute; /* permite un formato adecuado si la pista es de dos líneas */
    display: none;
}


/* Ahora queremos agregar un pequeño triangulo a nuestras cajas de instrucciones para que le de dirección a nuestros ojos */
.form_hint::before {
    content: "\25C0"; /* triángulo de punto izquierdo en unicode escapado */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}


/* Finalmente vamos a usar el selector adjunto de CSS para mostrar y esconder las instrucciones para el formulario. 
El selector adjunto (x + y) selecciona el elemento que es precedido por el elemento anterior (x). */
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;} /* cambiar la forma de color de sugerencia cuando sea válido */
.contact_form input:required:valid + .form_hint::before {color:#28921f;} /* cambiar el color de flecha de sugerencia de forma cuando sea válido */